*{
    padding: 0;
    margin: 0;
}

.btn-login{
    padding:10px 15px;
    cursor: pointer;

}

.overlay{
    width: 100%;
    top: 0%;
    position: fixed;
    height: 100vh;
    background: khaki;
    z-index: -1;
    opacity: 0;
    transform:1s ;
}
.loginform{
    width: 350px;
    padding: 20px;
    background-color: blue;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%)
}

.loginform input{
    width: 100%;
    height:35px;
    margin-bottom: 15px;
}
.loginform button{
    background-color: black;
    color: aliceblue;
    padding: 10px
    
}

.loginform span{
    position: absolute;
    right: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    line-height: 30px;
    background-color: aquamarine;
    text-align: center;
    top: 0px
}

